
.max_width {
	display: block;
	max-width: 100%;
	height: auto;
}

.statusouter {
	position: fixed;
	top: 0;
	left: 0;
}


.status {
	background-color: white;
	opacity: 0.75;
	color: black;
}

.controlpanel {
	position: fixed;
	display: flex;
	border: 1px solid black;
	padding: 5px;
	top: 100px;
	right: 100px;
	background-color: white;
	opacity: 0.75;
	color: black;
}

.controlpanel > div {
	color: black;
	font-size: 20;
	text-decoration: none;
}

.responsive {
	width: 100%;
	height: auto;
}

.fav {
	background-color: rgb(191, 245, 191);
}