.none {
/*
  max-width: 100%;
  max-height: 100%;
*/
}

.max_width {
  display: block;
  max-width: 100%;
  heightt: auto;
}

.statusouter {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-around;
}

.status {
  background-color: black;
  opacity: 0.5;
  color: white;
}

.full_width {
  width: 100%;
}
