
.max_width {
	display: block;
	max-width: 100%;
	height: auto;
}

.statusouter {
	position: fixed;
	top: 0;
	left: 0;
}


.status {
	background-color: white;
	opacity: 0.75;
	color: black;
}

.controlpanel-hor {
	position: fixed;
	display: flex;
	border: 1px solid black;
	padding: 5px;
	top: 230px;
	right: -180px;
	background-color: white;
	opacity: 0.75;
	color: black;
	rotate: 90deg;
}

.controlpanel-hor > div {
	color: black;
	font-size: 20;
	text-decoration: none;
	padding: 2px 2px;
}

.controlpanel-ver {
	position: fixed;
	display: flex;
	border: 1px solid black;
	padding: 5px;
	top: 100px;
	right: 100px;
	background-color: white;
	opacity: 0.75;
	color: black;
}

.controlpanel-ver > div {
	color: black;
	font-size: 20;
	text-decoration: none;
}

.responsive {
	width: 100%;
	height: auto;
}

.fav {
	background-color: rgb(191, 245, 191);
}

.controlpanelhov:hover {
	background-color: magenta;
}

.w100 {
	width: 100%;
}
.errortext {
	color: red;
}
